<ion-view>
  <ion-content class="padding has-subheader">
    <h2>Agendar Turno</h2>
    <p>El (los) pedido(s) relacionados a continuaci&oacute;n deber&aacute;n ser retirados en la misma fecha
      y hora. Si desea retirar en diferentes fechas y horas, deber&aacute; realizar agendamientos individuales.</p>
    <h4>Por favor ingrese los n&uacute;meros de los pedidos que recoger&aacute; el veh&iacute;culo</h4>
    <div ng-repeat="order in orders track by $index">
      <div class="centeredButton">
        <table id="orders_table">
          <tr>
            <td style="vertical-align: middle">
              <input type="text" ng-model="order" mask="AAA-9999999999" restrict="reject" style="border: solid 2px #003e78; border-radius: 6px; padding: 5px 50px;">
            </td>
            <td>
              <a class="button button-icon icon ion-ios-plus-outline" ng-show="$last" ng-click="addEmptyOrder()"></a>
              <a class="button button-icon icon ion-minus" ng-show="!$last" ng-click="removeOrder($index)"></a>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <h4>Placa autorizada para recoger los pedidos interesados</h4>
    <div class="centeredButton">
      <input type="text" ng-model="placa" mask="AAA-999" restrict="reject" style="border: solid 2px #003e78; border-radius: 6px; padding: 5px 50px; margin: 0 auto; text-align: left;">
    </div>
    <h4>C&eacute;dula autorizada para recoger los pedidos interesados</h4>
    <div class="centeredButton" style="padding-bottom: 10px">
      <input type="text" ng-model="cedula" mask="999999999" restrict="reject" style="border: solid 2px #003e78; border-radius: 6px; padding: 5px 50px; margin: 0 auto; text-align: left;">
    </div>
    <div class="centeredButton" style="padding-bottom: 10px">
      <button class="button1" ui-sref="tab.agenda_sel_date">CONTINUAR</button>
    </div>
  </ion-content>
</ion-view>
