<ion-view>
  <ion-content class="padding has-subheader">
    <h2>DATOS CLIENTE</h2>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Pedido(s):</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Fecha de retiro:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Hora de retiro:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Turno no.:</span>
        <p style="flex: 1"></p>
      </label>
    </div>
    <h2>DATOS TRANSPORTADOR</h2>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Placa:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">C&eacute;dula:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Nombre:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Tel&eacute;fono:</span>
        <p style="flex: 1"></p>
      </label>
    </div>
    <div class="warning_box">
      <h4>ADVERTENCIA:</h4>
      <p>
        - Por favor presentarse 60 minutos antes de la hora agendada, de lo contrario podr&iacute;a perder su turno.
        <br/>
        - S&oacute;lo se le permite el ingreso al TRANSPORTADOR autorizado en el sistema.
        <br/>
        - Se bloquear&aacute; el agendamiento de pedidos al tercer(3) incumplimiento de la misma placa.
      </p>
    </div>
    <div class="centeredButton" style="padding-top: 10px">
      <button class="button1" ui-sref="tab.home">ACEPTAR</button>
    </div>
  </ion-content>
</ion-view>
