<ion-view>
  <ion-content class="padding has-subheader">
    <h2>Agendar Turno</h2>
    <h4>Por favor indique fecha y hora para el (los) pedido(s) especificados anteriormente:</h4>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">Fecha:</span>
        <input type="date">
      </label>
      <label class="item item-input">
        <span class="input-label">Hora:</span>
        <input type="time">
      </label>
    </div>
    <div class="centeredButton">
      <button class="button1" ui-sref="tab.agenda_conf">AGENDAR</button>
    </div>
  </ion-content>
</ion-view>
