<ion-view>
  <ion-content class="padding has-subheader">
    <h2>Mis Datos</h2>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">C&eacute;dula:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Nombre completo:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Tel&eacute;fono:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Correo electr&oacute;nico:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Direcci&oacute;n:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Persona contacto alterno:</span>
        <p style="flex: 1"></p>
      </label>
      <label class="item item-input">
        <span class="input-label">Tel&eacute;fono contacto alterno:</span>
        <p style="flex: 1"></p>
      </label>
    </div>
    <div class="row" style="padding-bottom: 10px">
      <button class="button1 col" ui-sref="register" style="padding: 15px 10px;">CAMBIAR</button>
      <button class="button1 col" ui-sref="tab.home" style="padding: 15px 10px;">CONTINUAR</button>
    </div>
  </ion-content>
</ion-view>
