<ion-view>
  <ion-content class="padding has-header">
    <h2>Bienvenido(a)</h2>
    <p>Esta aplicaci&oacute;n le permite agendar los pedidos a recoger en nuestra planta.</p>
    <p>Por favor ingrese su c&eacute;dula y contrase&ntilde;a si ya est&aacute; registrado.</p>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">C&eacute;dula</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Contrase&ntilde;a</span>
        <input type="password">
      </label>
    </div>
    <div class="centeredButton">
      <button class="button1" type="submit" ng-click="" ui-sref="tab.home">INICIAR SESSION</button>
    </div>
    <p style="text-align: center;">Si no est&aacute; registrado, por favor registrarse aqu&iacute;</p>
    <div class="centeredButton">
      <button class="button1" ui-sref="register">REGISTRARSE</button>
    </div>
  </ion-content>
</ion-view>
