<ion-view>
  <ion-content class="padding has-header">
    <h2>Registro o Actualizaci&oacute;n de Datos</h2>
    <p>Por favor registre sus datos para el ingreso a la aplicaci&oacute;n.</p>
    <div class="list list-inset">
      <label class="item item-input">
        <span class="input-label">C&eacute;dula</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Confirmar c&eacute;dula</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Nombre completo</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Correo electr&oacute;nico</span>
        <input type="email">
      </label>
      <label class="item item-input">
        <span class="input-label">Tel&eacute;fono</span>
        <input type="tel">
      </label>
      <label class="item item-input">
        <span class="input-label">Direcci&oacute;n</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Contrase&ntilde;a</span>
        <input type="password">
      </label>
      <label class="item item-input">
        <span class="input-label">Confirmar contrase&ntilde;a</span>
        <input type="password">
      </label>
      <label class="item item-input">
        <span class="input-label">Persona contacto alterno</span>
        <input type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Tel&eacute;fono contacto alterno</span>
        <input type="tel">
      </label>
    </div>
    <div class="centeredButton" style="padding-bottom: 10px">
      <button class="button1" ui-sref="tab.home">CONTINUAR</button>
    </div>
  </ion-content>
</ion-view>
