<ion-view>
  <ion-content class="padding has-subheader">
    <h2>Agenda de Turnos</h2>
    <table wt-responsive-table>
      <tr>
        <th>FECHA</th>
        <th>HORA</th>
        <th>PLACA</th>
        <th>Nro. TURNO</th>
        <th>ESTADO</th>
        <th>EDITAR</th>
      </tr>
      <tr>
        <td>24/04/15</td>
        <td>8:30 am</td>
        <td>GSF-876</td>
        <td>0987653</td>
        <td></td>
        <td>
          <i class="icon ion-edit"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="icon ion-ios-close-outline"></i>
        </td>
      </tr>
      <tr>
        <td>25/04/15</td>
        <td>8:35 am</td>
        <td>NKH-876</td>
        <td>0987659</td>
        <td></td>
        <td>
          <i class="icon ion-edit"></i>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="icon ion-ios-close-outline"></i>
        </td>
      </tr>
    </table>
    <div class="centeredButton" style="padding-top: 10px">
      <button class="button1" ui-sref="tab.home">CONTINUAR</button>
    </div>
  </ion-content>
</ion-view>
